@import url("../template/template.css");

.container {
  border: 2px solid #9cb7d0;
  background-color: #bdd5ec;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.darker {
  border-color: #6c94bb;
  background-color: #a3bcd5;
}

.time-right {
  float: right;
  color: #4f6e8b;
}

.time-left {
  float: left;
  color: #3f5b76;
}

.write-button {
  border: 2px solid #ffc857;
  background-color: #ffc857;
  float: right;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.write-button:hover {
  background-color: #2e4052;
  border-color: #2e4052;
  color: white;
}

.send-button {
  border: 2px solid #ffc857;
  background-color: green;
  float: right;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.close-button {
  border: 2px solid #ffc857;
  background-color: red;
  float: right;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

input[type="text"] {
  display: none;
  width: 60%;
  height: 50px;
  border: 2px solid #9cb7d0;
  border-radius: 5px;
  vertical-align: baseline;
}

.button-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 10px;
  display: none;
}
