<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Application de chat</title>
    <link href="homeuser.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="page"></div>
    <div class="flex-container">
        <aside class="aside">
            <div class="aside-header">
                <h3>MATTERLEAST</h3>
            </div>
            <div class="content">
                <div class="channel">
                    <div class="fix-nav">
                        <h4><a href="#">MES CHATS</a></h4>
                    </div>
                    <div class="fix-nav">
                        <h4><a href="#">TOUS LES CHATS</a></h4>
                    </div>
                    <div class="nav">
                        <a href="#">channel 1</a>
                    </div>
                    <div class="nav">
                        <a href="#">channel 2</a>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="sidebar-footer">
                    <div class='user_infos_container'>
                        <h4>Martin Schneider</h4>
                        <h5>martin.schneider2001@gmail.com</h5>
                    </div>
            </a>
    </div>
    </aside>
    <main class="main">
        <header>
            <h1>Mes chats</h1>
        </header>
        <div class="table">
            <form method="get" id="userForm" class="form_undisplay" novalidate>
                <input type="text" name="text" id="text" placeholder="Votre message...">
            </form>
            <div class="table-header">
                <div class="header__item">
                    <h4>chat</h4>
                </div>
                <div class="header__item">
                    <h4>propriétaire</h4>
                </div>
                <div class="header__item">
                    <h4>modifier</h4>
                </div>
                <div class="header__item">
                    <h4>supprimer</h4>
                </div>
                <div class="header__item">
                    <h4>voir</h4>
                </div>
            </div>
            <div class="table-content">
                <div class="table-row">
                    <div class="table-data">uv sr03</div>
                    <div class="table-data">bobby</div>
                    <div class="table-data modifier"><a href="#">modif</a></div>
                    <div class="table-data supprimer"><a href="#">suppr</a></div>
                    <div class="table-data voir"><a href="#">seeee</a></div>
                </div>
                <div class="table-row">
                    <div class="table-data">uv sr06</div>
                    <div class="table-data">martin</div>
                    <div class="table-data modifier"><a href="#">modif</a></div>
                    <div class="table-data supprimer"><a href="#">suppr</a></div>
                    <div class="table-data voir"><a href="#">seeee</a></div>
                </div>
                <div class="table-row">
                    <div class="table-data">uv sr02</div>
                    <div class="table-data">océ</div>
                    <div class="table-data modifier"><a href="#">modif</a></div>
                    <div class="table-data supprimer"><a href="#">suppr</a></div>
                    <div class="table-data voir"><a href="#">seeee</a></div>
                </div>
            </div>
        </div>
    </main>
    </div>
    </div>
</body>