<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Application de chat</title>
    <link href="homeadmin.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="flex-container">
        <aside class="aside">
            <div class="aside-header">
                <h3>MATTERLEAST</h3>
            </div>
            <div class="content">
                <div class="channel">
                    <div class="fix-nav">
                        <h4><a href="#">TOUS LES UTILISATEURS</a></h4>
                    </div>
                    <div class="fix-nav">
                        <h4><a href="#">NOUVEL UTILISATEUR</a></h4>
                    </div>
                    <div class="fix-nav">
                        <h4><a href="#">UTILISATEURS DÉSACTIVÉS</a></h4>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="sidebar-footer">
                    <div class='user_infos_container'>
                        <h4>Martin Schneider</h4>
                        <h5>martin.schneider2001@gmail.com</h5>
                    </div>
                </div>
            </a>
        </aside>
        <main class="main">
            <header>
                <h1>Tous les utilisateurs</h1>
            </header>
            <div class="table">
                <form method="get" id="userForm" class="form_undisplay" novalidate>
                    <input type="text" name="text" id="text" placeholder="Rechercher un utilisateur...">
                </form>
                <div class="table-header">
                    <div class="header__item">
                        <h4>utilisateur</h4>
                    </div>
                    <div class="header__item">
                        <h4>activé</h4>
                    </div>
                    <div class="header__item">
                        <h4>admin</h4>
                    </div>
                    <div class="header__item">
                        <h4>modifier</h4>
                    </div>
                    <div class="header__item">
                        <h4>supprimer</h4>
                    </div>
                </div>
                <div class="table-content">
                    <div class="table-row">
                        <div class="table-data">uv sr03</div>
                        <div class="table-data crossed"><a href="#">activ</a></div>
                        <div class="table-data checked"><a href="#">admin</a></div>
                        <div class="table-data modifier"><a href="#">modif</a></div>
                        <div class="table-data supprimer"><a href="#">suppr</a></div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">uv sr06</div>
                        <div class="table-data checked"><a href="#">activ</a></div>
                        <div class="table-data checked"><a href="#">admin</a></div>
                        <div class="table-data modifier"><a href="#">modif</a></div>
                        <div class="table-data supprimer"><a href="#">suppr</a></div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">uv sr02</div>
                        <div class="table-data crossed"><a href="#">activ</a></div>
                        <div class="table-data crossed  "><a href="#">admin</a></div>
                        <div class="table-data modifier"><a href="#">modif</a></div>
                        <div class="table-data supprimer"><a href="#">suppr</a></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>