header {
  min-height: 100px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

nav {
  min-height: 50px;
  margin: 10px;
}

main {
  min-height: 50px;
  margin: 10px;
}

aside {
  min-height: 410px;
  background-color: bisque;
  margin: 10px;
}

footer {
  margin: 10px;
  text-align: right;
}
