header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 60px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  min-height: 50px;
  margin: 10px;
}

.nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

main {
  min-height: 50px;
  margin: 10px;
}

aside {
  min-height: 410px;
  background-color: bisque;
  margin: 10px;
}

footer {
  width: 100%;
  margin: 10px;
  text-align: right;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}
