<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Application de chat</title>
  </head>
  <body>
    <header class="header">
      <h1>Application</h1>
    </header>
    <body>
      <h2>Authentification requise</h2>
      <label><b>Adresse mail</b></label>
      <input
        type="text"
        placeholder="Entrer votre adresse email"
        name="mail"
        required
      />

      <label><b>Mot de passe</b></label>
      <input
        type="password"
        placeholder="Entrer le mot de passe"
        name="password"
        required
      />

      <input type="submit" id="submit" value="LOGIN" />
    </body>
    <footer class="footer">
    </footer>
  </body>
</html>
