<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Application de chat</title>
    <script type="text/javascript" src="./authentifier.js"></script>
  </head>

  <body>
    <header class="header">
      <h1>Application</h1>
    </header>

    <body>
      <h2>Authentification requise</h2>
      <form novalidate onsubmit="valider()">
        <p>
          <label for="mail">
            <span>Veuillez saisir une adresse e-mail :</span>
            <input type="email" id="mail" name="mail" />
            <span class="error" aria-live="polite"></span>
          </label>
        </p>

        <p>
          <label for="password">
            <span>Veuillez saisir un mot de passe :</span>
            <input type="password" id="password" name="password" />
            <span class="error" aria-live="polite"></span>
          </label>
        </p>

        <p><input type="Submit" value="Ok" /></p>
      </form>
    </body>
    <footer class="footer"></footer>
  </body>
</html>
