<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil utilisateur</title>
    <link href="../css/homeAdmin.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="page"></div>
        <header class="header">
            <h1>Application</h1>
        </header>
        <nav class="nav">
            <a href="#">Accueil</a>
            <a href="#">Mes chats</a>
            <a href="#">Mes invitations</a>
        </nav>
        <div class="flex-container">
            <aside class="aside">
                <p>Aside</p>
            </aside>
            <main class="main">
                <h1>Main</h1>
            </main>
        </div>
        <footer class="footer">
            <p>SR03 - Application de chat 2022 - Martin Schneider et Océane Bordeau</p>
        </footer>
    </div>
</body>