<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Application de chat</title>
    <!-- <link href="./authStyle.css" rel="stylesheet" /> -->
  </head>

  <body>
    <header class="header">
      <h1>Application</h1>
    </header>

    <body>
      <h2>Authentification requise</h2>
      <form novalidate action="./ChatPage.html">
        <p>
          <label for="mail">
            <span>Veuillez saisir une adresse e-mail :</span>
            <input type="email" id="mail" name="mail" />
            <span id="errorMail" aria-live="polite"></span>
          </label>
        </p>

        <p>
          <label for="password">
            <span>Veuillez saisir un mot de passe :</span>
            <input type="password" id="password" name="password" />
            <span id="errorPw" aria-live="polite"></span>
          </label>
        </p>

        <p><input type="Submit" value="Ok" /></p>
      </form>
    </body>
    <footer class="footer"></footer>
    <script
      type="text/javascript"
      src="../scripts/userInputVerification.js"
    ></script>
  </body>
</html>
